<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>

    <header>
        <a href="/">Home</a>
        <a href="/student-male">Get all male students</a>
    </header>

    <h2>Not found page</h2>
</body>

</html>