<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <header>
        <a href="/">Home</a>
        <a href="/student-male">Get all male students</a>
    </header>

    <h1>Student detail</h1>

    <div>
        <span>ID: </span>
        <h2>
            <%= student.id %>
        </h2>
    </div>
    <div>
        <span>Name: </span>
        <h2>
            <%= student.name %>
        </h2>
    </div>
</body>

</html>